---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
      <style>
        .custom-text {
          font-size: 4xl; 
          background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-shadow: 12px 12px 55px rgb(188, 12, 241);
          font-family: 'Red Rose', sans-serif; 
          font-weight: bold; 
        }
      </style>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-4xl md:text-5xl xl:text-6xl">Hello World 👋<br>I'm
                  <span class="custom-text">gαυтαм мαηαк</span>
                 <span class="text-primary dark:text-white"><br> I create awesome Products.</span></h1>
                <p class="mt-10 text-2xl  text-gray-700 dark:text-gray-300">A Full Stack Developer and Web Creator with a passion for building great products 😈 !</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="https://calendly.com/gautammanak1/30min"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        > Schedule a call ☎️</span
                      >
                    </a>
                    
                    </a>
                </div>
                <div class=" py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between w-full items-center ">
                    <div class="text-left">
                      <img
                      src="https://squareboat.com/storage/services/sub_services/UyVxNUXUVdJAZIsPfxFrjpHeolgBoQOEG02agb7N.svg"
                      class="w-12"
                      width="512"
                      height="512"
                      alt="Figma"
                    /> <h6 class="text-lg font-semibold text-gray-700 dark:text-white">UI/UX Designer</h6>
                    </div>
                    <div class="text-left">
                      <img 
            src="https://squareboat.com/storage/services/sub_services/kH7MXOJ4IIBsDyJpYQ4URh7nm4dGym5tJIHYNyXI.svg"
            class="w-12"
            width="512"
            height="512"
            alt="Web"
          />
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Full Stack Engineer </h6>
                     
                    </div>
                    <div class="text-left">
                      <img
            src="https://squareboat.com/storage/services/sub_services/ueoS58qJHQZinRV4SyvA1YwY2Z5Qv1EJOcXsWK8A.svg"
            class="w-12"
            width="512"
            height="512"
            alt="Content"
          />
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Content Creator</h6>
          
                    </div>
                </div>
            </div>
            <div class="relative pt-36 ml-auto">
              <div class="lg:w-2/3 text-center mx-auto">
                  <h1 class="text-gray-900 dark:text-white font-bold text-3xl">Tech Stack 🚀<br>
            <div class="mt-10 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="https://logos-world.net/wp-content/uploads/2023/08/React-Symbol.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" />
                  </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                  <img src="https://github.com/angular/angular/raw/main/aio/src/assets/images/logos/angular/angular_renaissance.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo"  />
                </div>
                <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                  <img src="https://www.vectorlogo.zone/logos/nodejs/nodejs-ar21.svg" class="h-12 w-auto m-auto" loading="lazy" alt="client logo"  />
                </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="https://cdn.worldvectorlogo.com/logos/typescript.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                  <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/37/Firebase_Logo.svg" class="h-12 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="https://cdn.worldvectorlogo.com/logos/tailwind-css-1-2.svg"  class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                  <img src="https://cdn.worldvectorlogo.com/logos/html-1.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
              </div> <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                <img src="https://cdn.worldvectorlogo.com/logos/logo-javascript.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
            </div>
            <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
              <img src="https://cdn.worldvectorlogo.com/logos/css-3.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
          </div> <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="https://cdn.worldvectorlogo.com/logos/canva-1.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div> <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img src="https://cdn.worldvectorlogo.com/logos/figma-5.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
      </div> <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img src="https://cdn.worldvectorlogo.com/logos/mongodb-icon-2.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
    </div>
              </div>
        </div>
    </Container>
</div>