---
import Container from "./Container.astro"

---

<div id="project">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Latest Project</h2>
        <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
          Quam hic dolore cumque voluptate rerum beatae et quae, tempore sunt, debitis dolorum officia
          aliquid explicabo? Excepturi, voluptate?
        </p>
      </div>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://portfolio-minimal-theme.vercel.app/static/8ecd3f368c1949f70a137acafc34afb1/88f3e/bitcoin.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Xcrypto-App!
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              This is a crypto web App where you can check the all crypto currency present in the market with real time market price and the scaling percentage of the of the crypto currency with total market cap.
            </p>
            <a class="inline-block" href="https://xcrypto-app-ten.vercel.app/">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://portfolio-minimal-theme.vercel.app/static/f61bb6c194483fc05bb5092915b754f8/0b753/periodic.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Periodic Table Of Elements
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              The periodic table is a tabular course of action of the chemical components by increasing atomic number which shows the components with the goal that one may see slants in their properties.
            </p>
            <a class="inline-block" href="https://gautammanak1.github.io/Periodic-Table-of-Elements/">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://t3.ftcdn.net/jpg/02/59/31/70/360_F_259317013_nJJaBgGGzvXMd6cAyLd6yMJtbdnd61wk.jpg"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              To-Do List web application
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              This is a simple To-Do List web application built with React and Firebase for user authentication. With this app, you can create and manage your to-do tasks securely using Firebase authentication. It provides a responsive and intuitive user interface for managing your tasks.
            </p>
            <a class="inline-block" href="https://todo-list-beta-pearl.vercel.app/">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div> 
        </div>
      </div>
  </Container>
</div>