---
import Container from "./Container.astro";

---

<div id="about">
    <Container>
      
      
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="https://portfolio-minimal-theme.vercel.app/static/5eb2eae400e54f5a78c7186ca93deefb/9c59f/charles-deluvio-DgoyKNgPiFQ-unsplash.webp"
            alt="image"
            loading="lazy"
            class="flex flex-wrap mb-4 lg:h-[450px] md:h-[250px] h-[433px] rounded-[37.375px] "
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            About Me 
          </h2>
          <p class="my-7 subpixel-antialiased text-gray-600 dark:text-gray-300">
            I am a Full Stack Web Developer who has been playing around Web for the last 2-3 years. I ❤️ JavaScript and play around React.js, Anguler, Node.js whole day but that doesn't hold me back from trying different things. One can always find me trying and learning about different things like Tech, Space, Science and much more. <br>
<br>
            Throughout my academic journey, I have immersed myself in the world of web development and design, honing my skills to create captivating and user-centric interfaces. My strong foundation in front-end technologies empowers me to transform ideas into tangible, interactive digital solutions. <br>
            <br>
            My proficiency in front-end technologies such as HTML, CSS, React,Anguler,& Firebase. ensures that my creations are as functional as they are beautiful. I am organiser MeerutCodehub Community Running the First Tech Community in Meerut was founded by four colleagues including me.
          </p>
           
            </div> 
          </div>
        </div>
      </div>
    </Container>
</div>